# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Build output
x64/
Win32/
Debug/
Release/

# Object / binary files
*.obj
*.pdb
*.ilk
*.lib
*.exp

# Precompiled headers
*.pch
*.ipch

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store
